{% load static %}
<!DOCTYPE html>
<html lang="en", dir="ltr">
<head>

    <meta charset="UTF-8">
    <title>Multi-Step Enzyme System</title>
</head>
<style>
    .param_label
        {
            font: normal 14px arial, sans, sans-serif;
            text-align:left;
            width:50px;
            margin: 0px;
            padding: 0px;
            padding-top: 3px;
            padding-bottom: 3px;
            display:inline-block;
            margin-left: 30px;
        }

        .unit_label
        {
            font: normal 13px arial, sans, sans-serif;
            text-align:left;
            width:10px;
            margin: 0px;
            padding: 0px;
            padding-top: 3px;
            padding-bottom: 3px;
            display:inline-block;
            margin-right: 30px;
        }
        .info
        {
            font: normal 12px arial, sans, sans-serif;
            text-align:left;
            display:inline-block;
            margin-left: 30px;
        }

        .param_field
        {
            width:55px;
            text-align:right;
            margin-right: 5px;
        }
        .btn
        {
            margin-left: 50px;
            margin-right: 120px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .btn_right
        {
            margin-left: 120px;
            margin-right: 50px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
</style>
<body>
    <img src="/media/reaction_scheme.png" width=450px>
    <form>
        <label for="k_1" class=param_label>k<sub>1</sub> : </label>
        <input id="k_1" type="text" name="k_1" value={{ k_1 }} class=param_field>
        <label for="k_1" class=unit_label>(&mu;Ms)^-1 </label>
        <label for="k_1_back" class=param_label>k<sub>1,back</sub> : </label>
        <input id="k_1_back" type="text" name="k_1_back" value={{ k_1_back }} class=param_field>
        <label for="k_1_back" class=unit_label>s^-1 </label>
        <br>
        <label for="k_2" class=param_label>k<sub>2</sub> : </label>
        <input id="k_2" type="text" name="k_2" value={{ k_2 }} class=param_field>
        <label for="k_2" class=unit_label>s^-1</label>
        <label for="k_3" class=param_label>k<sub>3</sub> : </label>
        <input id="k_3" type="text" name="k_3" value={{ k_3 }} class=param_field>
        <label for="k_3" class=unit_label>s^-1</label>
        <br>
        <label for="k_3_back" class=param_label>k<sub>3,back</sub> : </label>
        <input id="k_3_back" type="text" name="k_3_back" value={{ k_3_back }} class=param_field>
        <label for="k_3_back" class=unit_label>(&mu;Ms)^-1 </label>
        <br>
        <label for="GF_0" class=param_label>GF<sub>0</sub> : </label>
        <input id="GF_0" type="text" name="GF_0" value={{ GF_0 }} class=param_field>
        <label for="GF_0" class=unit_label>&mu;M </label>
        <label for="E_0" class=param_label>E<sub>0</sub> : </label>
        <input id="E_0" type="text" name="E_0" value={{ E_0 }} class=param_field>
        <label for="E_0" class=unit_label>&mu;M </label>
        <br>
        <label for="d_t" class=param_label>&Delta;<sub>t</sub> : </label>
        <input id="d_t" type="text" name="d_t" value={{ d_t }} class=param_field>
        <label for="d_t" class=unit_label>s </label>
        <label for="t_end" class=param_label>t<sub>end</sub> : </label>
        <input id="t_end" type="text" name="t_end" value={{ t_end }} class=param_field>
        <label for="t_end" class=unit_label>s </label>
        <br>
        <!--<label for="t_end" class=param_label>Inlet: </label>
        <input type="checkbox" class="chckbox" value={{ make_inlet }} name="make_inlet" checked>
        <br> -->
        <p class="info">OBS: Too large rate constants or too short time-steps lead to artifacts.</p>
        <br>
        <input type="submit" class="btn" value="Default" name="default_button">
         <!--<input type="submit" value="Download" name="download_button">-->
        <input type="submit" class="btn_right" value="Run" name="run_button">
    </form>


    <img src="data:image/png;base64,{{ plot }}" alt="" height="350" width="450">
</body>
</html>